#
# the new mint style configuration for xaaes
# (it reuse the mint cnf parser :-))
#
# upper/lowercase don't matter for all keywords
# bool values can be expressed as 1/0, y/n, yes/no, true/false
# 

#
# video mode select
# -----------------
# 
# Selects the video mode that XaAES will boot into. If not set mode = 1
# will be used, e.g. use current/default video mode.
# 
# If you don't have a Falcon <mode> can be:
# -----------------------------------------
#   - 2 =  320*200,  16 colour (ST-Low)
#   - 3 =  640*200,   4 colour (ST-Medium)
#   - 4 =  640*400,   2 colour (ST-High)
#   - 6 =  640*480,  16 colour (TT Medium)
#   - 8 = 1280*960,   2 colour (TT High)
#   - 9 =  320*480, 256 colour (TT Low)
#   
#   All other values are ignored!
# 
# If you have a Falcon <mode> is the sam argument as to the
# VsetMode() OS call:
# ---------------------------------------------------------
#   BIT     Name     Meaning
#   
#   0-2     BPS      Number of bitplanes:
#                    - 000 = 2colour
#                    - 001 = 4colour
#                    - 010 = 16colour
#                    - 011 = 256colour
#                    - 100 = 16bits/pixel (True colour)
#   
#   3       COL      Number of columns
#                    - 0 = 40
#                    - 1 = 80
#   
#   4       VGA      Monitor select
#                    - 0 = TV mode
#                    - 1 = VGA mode
#   
#   5       TVSEL    TV standard select
#                    - 0 = NTSC
#                    - 1 = PAL
#   
#   6       OVERSCN  Overscan flag (not valid for VGA)
#                    - 0 = don't overscan
#                    - 1 = overscan
#   
#   7       STMODES  ST Compatibility mode
#                    - 0 = Standard VGA video modes
#                    - 1 = ST Compatible Video modes
#   
#   8       VERTFLAG Vertical mode
#                    - VGA: 0 = standard
#                           1 = line doubling (half res)
#                    - TV:  0 = standard
#                           1 = Interlace (double res!!!)
#   
#   9-14    unused
#   
#   15               Additive mode bit for non standard resolutions
#                    If set, use the default screen resolution as preset by
#                    CentScreen.
#
# For example:
# 
# video = 26      will select 640*480*16colour VGA mode.
# video = 0x801a  will select 16 colour VGA mode in
#                 the resolution preset by centscreen.
# Note: 
# When you use a screenexpander like Screenblaster, you have to use
# the video option as well. This will make the Screenblaster-Software
# to show up the resolution-selection-menu.
# 
#video = <mode>

#
# setenv name val ..... set up environment
#
#setenv NAME value

#
# use $HOME in shell_find
#
usehome = yes

#
# double click time (ms)
#
#dc_time = 50

#
# Mouse packet time-gap. This is the time (in 200hz timer ticks) that
# must pass after a button-release event before a new button-press
# event is accepted by moose.adi. Because of unstable mouse-buttons,
# a button-press may follow immediately after a button-release, creating
# and "extra" mouse-click. This is especially annoying when releasing
# the right-button after a drag-session (Thing's directory-window, for
# example), and the "extra-click" fires some unwanted action.
#
#mp_timegap (default is 3)

#
# lrmb_swap = <bool>            (default is 'no')
#
# Swap left and right mouse buttons. Setting 'lrmb_swap = yes' will make
# XaAES swap the left and right mouse buttons.
#
#lrmb_swap = yes

#
# Mouse wheel configuration.
#
# There are currently four configuration variables that is used to to set
# wheel configuration;
#
# vertical_wheel_id = <value>      (default is 0)
# vertical_wheel_amount = <value>  (default = 1)
# horizontal_wheel_id = <value>    (default is 1)
# horizontal_wheel_amount <value>  (default is 1)
#
# With 'vertical_wheel_id' you can choose which wheel you want to use as the
# vertical wheel. Likewise, you set the ID of the wheel you want to define as
# the horizontal wheel. Do NOT set the same value for both vertical and
# horizontal wheel ID's.
#
# With vertical_wheel_amount you can set the amount of lines to scroll per
# turn of the vertical wheel. Likewise, you can set the amount of columns to
# to scroll per turn of the horizontal wheel using 'horizontal_wheel_amount'.
# The value for these configuration variables must be a number between
# 1 and 20. Per now, this actually sets the number of WM_ARROWED messages
# send to the application per turn of the wheel.
#
#vertical_wheel_id = 0
#vertical_wheel_amount = 3
#horizontal_wheel_id = 1
#horizontal_wheel_amount = 3

#
# redraw_timeout. This is the time in ms XaAES will wait for clients to
# service WM_REDRAW messages between actions that generate redraws,
# like moving/closing/opening/etc. windows. If a client is busy and this
# 'times out'happens, it is marked as lagging and XaAES will service the
# redraws for it. When this happens, XaAES just draws the areas not
# serviced with dark gray color until the client re-enters evnt_multi().
# For slow machines, this timeout must be higher (longer) than on faster
# machines.
#
# redraw_timeout (default is 500)

# 
#
# menu = pull or push or leave + optional nolocking
# default is 
#
menu = leave

#
# popscroll - number of lines of a popup above which it will be made scrollable
#
#popscroll = 0

#
# toppage = bold or faint
#
#toppage = faint

#
# next_active = 'client' or 'window' (default is 'window')
#
# Selects wether the previous active application or
# the owner of the previous topped (or only) window
# should be set active upon client termination.
# next_active = client

#
# close_lastwind = 'client' or 'window' (default is 'window')
#
# Selects what to do when the last window of a client is closed.
#
#   Setting to 'client' will keep the application whose
#   last window is closed as the top application. This prevents
#   XaAES from putting infront another application when the last
#   window of the application currently infront is closed.
#
#   Setting to 'window' will make XaAES put the application
#   who owns the foremost window infront, making it active.
#   This is the normal behaviour done by other AES's we thinks.
#
# close_lastwind = client

#
# app_options = appname,option1,option2,...
#
# This will let you configure application specific things.
# There are two special appname's you can use, one is 'default'
# and the other is 'aessys'. 'default' is used to set GLOBAL
# configuration which affects all applications. A 'default'
# configuration have to be specified first.
# With appname being 'aessys', you can specify configuration
# for the aessys's windows, like taskmanager, etc.
# All other appname's are considered to be individual applications,
# and settings for 'autos401' will only affect that one application
# whose filename is autos401.[prg,app,gtp] or whose nicename is
# autos401. "autos401" is Autosort v4.1, btw.
#
# Here's a quick overview of the currently available configuration
# options, default settings mentioned goes for both aessys and the
# default values each application will use until changed;
#
# A <bool> value can be 'true','false','on','off','yes','no',
# '1' and '02
#
# A <value> must be a decimal value (for now).
# 
# windowner = <bool>      default: false
#     Will make XaAES show the name of the application
#     owning the window in the window's title.
#
# nohide = <bool>         default: false
#     Windows will not have the HIDE widget, and thus cannot be
#     hidden.
#
# xa_nohide = <bool>      default: true
#     Windows containing form_do() sessions will not have
#     the HIDE widget and thus not be hidable.
#     Autosort is one application that cannot have its
#     form_do() session hidden (or moved)
#
# xa_nomove = <bool>      default: true
#     Windows containing a form_do() session will not be
#     moveable. Autosort is one such application.
#
# noleft = <bool>         default: false
#     Windows can not be moved offscreen to the left.
#
# thinwork = <bool>       default: false
#     The "inner" 3d-effect is disabled. This 3d-effect 'frames'
#     the work-area of windows in a 3d-ish frame.
#
# nolive = <bool>         default: false
#     Disable live window move/resize/etc.
#
# winframe_size = <value>  default: 1
#     Set the size of window frame. A value of -1 sets
#     "overscan windows", which contains no frame or shadowing.
#     It is not recommended to set a value of -1 yet!.
#     A value of 0 will make windows without any borders.
#     positive values make window-frames larger.
#
# naesff = <bool>         default: false
#     N.AES Full Fix;
#     When naesff is set true, XaAES will send full WM_REDRAW
#     message when all four window coordinates change, which
#     happens when windows are FULLEd. This will fix redraw
#     problems with apps like Jinnee.
#
#
# This default setting will make XaAES look closer to n.aes, but
# will require precision when grabbing the window border for
# resizing :)
#
#app_options = default, thinwork = true, winframe_size = 1
#
# This default setting will make XaAES look like it has been
# looking up to now;
#
#app_options = default, thinwork = false, winframe_size = 2
#
# This setting for autosort401 will make sure its window cannot be
# moved.
#
#app_options = autos401, xa_nomove = true
#
# Ataricq looks much better when the "inner" 3d effect is turned off
# with 'thinwork" and as small a windowframe as possible.
#
#app_options = ataricq, thinwork = true, winframe_size = 1

#
# clipboard = <path>   # path to clipboard
# accpath   = <path>   # path from which accs are loaded
# launcher  = <path>   # path to tos program launcher
#
clipboard = c:\clipbrd\
accpath   = c:\
#launcher  = u:\opt\toswin2\tw-call.prg

#
# widgets  = <file>
# resource = <file>
#
#widgets  = adam.rsc
#resource = xa_mono.rsc

#
# widget_auto_highlight = <bool> default: no
#
# When widget_auto_highlight is set true, standard window widget are
# automatically highlighted when mouse hovers over them. This is still
# very experimental, and widgets are not actually highlighted, they
# are just animated - that is redrawn in SELECTED status.
#
#widget_auto_highlight = yes

#
# helpserver (like N.AES config, first is the default)
#
#helpserver = HYP,ST-GUIDE,d:\help\st-guide.prg
#helpserver = HTM,CAB,e:\www\cab.app

#
# cancel = string,string
#
cancel = cancel,abbruch,annuler,avbryt,anuluj,afbryd,undo

#
# filters = mask, mask, ...
#
filters = *.*, *.[atpg]*, *.[chs]*, *.l*, *.o*

#
# font_id        - Standard GDOS fontid for windows & stuff
# standard_point - Size of the 'standard' AES font (for window titles, etc)
# medium_point   - The same, but for low resolution screens
# small_point    - Size of the 'small' AES font
#
# defaults:
#
#font_id=1
#standard_point=10
#medium_point=9
#small_point=8

#
# start any other programs with run
#
#run <path>\<application>

#
# system shell
#

#
#---------- Thing -----------
#
#setenv AVSERVER THING
#setenv FONTSELECT THING
#
#setenv THINGDIR c:\thing\thing
#shell = c:\thing\thing\thing.app

#
#---------- Jinnee ----------
#
#setenv AVSERVER JINNEE
#setenv FONTSELECT JINNEE
#
#shell = c:\jinnee\jinnee.app

#
#--------- Teradesk ---------
#
#setenv AVSERVER DESKTOP
#setenv FONTSELECT DESKTOP
#
#shell = c:\desktop\desktop.app

