#
# the new mint style configuration for xaaes
# (it reuse the mint cnf parser :-))
#
# upper/lowercase don't matter for all keywords
# bool values can be expressed as 1/0, y/n, yes/no, true/false
# 

#
# video mode select
# -----------------
# 
# Selects the video mode that XaAES will boot into. If not set mode = 1
# will be used, e.g. use current/default video mode.
# 
# If you don't have a Falcon <mode> can be:
# -----------------------------------------
#   - 2 =  320*200,  16 colour (ST-Low)
#   - 3 =  640*200,   4 colour (ST-Medium)
#   - 4 =  640*400,   2 colour (ST-High)
#   - 6 =  640*480,  16 colour (TT Medium)
#   - 8 = 1280*960,   2 colour (TT High)
#   - 9 =  320*480, 256 colour (TT Low)
#   
#   All other values are ignored!
# 
# If you have a Falcon <mode> is the sam argument as to the
# VsetMode() OS call:
# ---------------------------------------------------------
#   BIT     Name     Meaning
#   
#   0-2     BPS      Number of bitplanes:
#                    - 000 = 2colour
#                    - 001 = 4colour
#                    - 010 = 16colour
#                    - 011 = 256colour
#                    - 100 = 16bits/pixel (True colour)
#   
#   3       COL      Number of columns
#                    - 0 = 40
#                    - 1 = 80
#   
#   4       VGA      Monitor select
#                    - 0 = TV mode
#                    - 1 = VGA mode
#   
#   5       TVSEL    TV standard select
#                    - 0 = NTSC
#                    - 1 = PAL
#   
#   6       OVERSCN  Overscan flag (not valid for VGA)
#                    - 0 = don't overscan
#                    - 1 = overscan
#   
#   7       STMODES  ST Compatibility mode
#                    - 0 = Standard VGA video modes
#                    - 1 = ST Compatible Video modes
#   
#   8       VERTFLAG Vertical mode
#                    - VGA: 0 = standard
#                           1 = line doubling (half res)
#                    - TV:  0 = standard
#                           1 = Interlace (double res!!!)
#   
#   9-14    unused
#   
#   15               Additive mode bit for non standard resolutions
#                    If set, use the default screen resolution as preset by
#                    CentScreen.
#
# For example:
# 
# video = 26      will select 640*480*16colour VGA mode.
# video = 0x801a  will select 16 colour VGA mode in
#                 the resolution preset by centscreen.
# Note: 
# When you use a screenexpander like Screenblaster, you have to use
# the video option as well. This will make the Screenblaster-Software
# to show up the resolution-selection-menu.
# 
#video = <mode>

#
# setenv name val ..... set up environment
#
#setenv NAME value

#
# use $HOME in shell_find
#
usehome = yes

#
# double click time (ms)
#
#dc_time = 50

#
# menu = pull or push or leave + optional nolocking
# default is 
#
menu = leave

#
# popscroll - number of lines of a popup above which it will be made scrollable
#
#popscroll = 0

#
# toppage = bold or faint
#
#toppage = faint

#
# next_active = 'client' or 'window' (default is 'window')
# Selects wether the previous active application or
# the owner of the previous topped (or only) window
# should be set active upon client termination.
# next_active = client

#
# app_options = appname,option1,option2,...
#
# This will let you configure application specific things.
# There are two special appname's you can use, one is 'default'
# and the other is 'aessys'. 'default' is used to set GLOBAL
# configuration which affects all applications. A 'default'
# configuration have to be specified first.
# with appname being 'aessys', you can specify configuration
# for the aessys's windows, like taskmanager, etc.
# All other appname's are considered to be individual applications,
# and settings for 'autos401' will only affect that one application
# whose filename is autos401.[prg,app,gtp] or whose nicename is
# autos401. "autos401" is Autosort v4.1, btw.
#
# Here's a quick overview of the currently available configuration
# options;
# 
# windowner
#     Will make XaAES show the name of the application
#     owning the window in the window's title.
#
# hohide
#     Windows will not have the HIDE widget, and thus cannot be
#     hidden.
#
# xa_nohide
#     Windows containing form_do() sessions will not have
#     the HIDE widget and thus not be hidable.
#     Autosort is one application that cannot have its
#     form_do() session hidden (or moved)
#
# xa_nomove
#     Windows containing a form_do() session will not be
#     moveable. Autosort is one such application.
#
# noleft
#     Windows can not be moved offscreen to the left.

# thinwork
#     The "inner" 3d-effect is disabled.
#
# nolive
#     Disable live window move/resize/etc.
#
# winframe=<value>
#     Set the size of window frame. A value of -1 turns
#     window-frame off (single line window frame) while
#     positive values make window-frames larger.
#
# This default setting will make XaAES look closer to n.aes, but
# will require precision when grabbing the window border for
# resizing :)
#
#app_options = default,thinwork,winframe=-1
#
# This setting for autosort401 will make sure its window cannot be
# moved.
#
#app_options = autos401,xa_nomove
#
# Ataricq looks much better when the "inner" 3d effect is turned off
# with 'thinwork" and as small a windowframe as possible.
#
#app_options = ataricq,thinwork,winfram=-1

#
# clipboard = <path>   # path to clipboard
# accpath   = <path>   # path from which accs are loaded
# launcher  = <path>   # path to tos program launcher
#
clipboard = c:\clipbrd\
accpath   = c:\
#launcher  = u:\opt\toswin2\tw-call.prg

#
# widgets  = <file>
# resource = <file>
#
#widgets  = adam.rsc
#resource = xa_mono.rsc

#
# helpserver (like N.AES config, first is the default)
#
#helpserver = HYP,ST-GUIDE,d:\help\st-guide.prg
#helpserver = HTM,CAB,e:\www\cab.app

#
# cancel = string,string
#
cancel = cancel,abbruch,annuler,avbryt,anuluj,afbryd,undo

#
# filters = mask, mask, ...
#
filters = *.*, *.[atpg]*, *.[chs]*, *.l*, *.o*

#
# font_id        - Standard GDOS fontid for windows & stuff
# standard_point - Size of the 'standard' AES font (for window titles, etc)
# medium_point   - The same, but for low resolution screens
# small_point    - Size of the 'small' AES font
#
# defaults:
#
#font_id=1
#standard_point=10
#medium_point=9
#small_point=8

#
# start any other programs with run
#
#run <path>\<application>

#
# system shell
#

#
#---------- Thing -----------
#
#setenv AVSERVER THING
#setenv FONTSELECT THING
#
#setenv THINGDIR c:\thing\thing
#shell = c:\thing\thing\thing.app

#
#---------- Jinnee ----------
#
#setenv AVSERVER JINNEE
#setenv FONTSELECT JINNEE
#
#shell = c:\jinnee\jinnee.app

#
#--------- Teradesk ---------
#
#setenv AVSERVER DESKTOP
#setenv FONTSELECT DESKTOP
#
#shell = c:\desktop\desktop.app

