.deps
.compile_*
shared/libsyscall/pars.c
shared/libsyscall/pars.h
shared/libsyscall/scan.c
sys/arch/magic/genmagic
sys/arch/magic/magic.i
sys/buildinfo/build.h
sys/buildinfo/buildserial
sys/buildinfo/cdef.h
sys/buildinfo/mkbuild
sys/gen-syscall/gen-syscall
sys/sockets/xif/main_020.c
sys/sockets/xif/rieblmst.c
sys/sockets/xif/rieblmst_fast.c
sys/sockets/xif/rieblspc.c
sys/sockets/xif/rieblspc_fast.c
sys/sockets/xif/rieblste.c
sys/sockets/xif/riebltt.c
sys/sockets/xif/rtl8012st.c
sys/sockets/xif/rtl8012ct60.c
sys/xdd/audio/actrl
sys/xdd/mfp/mfp_mil.c
tools/crypto/crypto
tools/fdisk/fdisk
tools/fdisk/sfdisk
tools/lpflush/lpflush
tools/minix/fsck/fsck.minix
tools/minix/minit/minit
tools/minix/tools/flist
tools/minix/tools/mfsconf
tools/mkfatfs/mkfatfs
tools/mktbl/mktbl
tools/net-tools/arp
tools/net-tools/diald
tools/net-tools/ifconfig
tools/net-tools/iflink
tools/net-tools/ifstats
tools/net-tools/masqconf
tools/net-tools/netstat
tools/net-tools/pppconf
tools/net-tools/route
tools/net-tools/slattach
tools/net-tools/slinkctl/slinkctl
tools/strace/genstamp
tools/strace/gentables
tools/strace/strace
tools/strace/sysenttab.c
tools/strace/sysenttab.h
tools/swkbdtbl/swkbdtbl
tools/net-tools/tests/client
tools/net-tools/tests/dgram
tools/net-tools/tests/dgramd
tools/net-tools/tests/hostlookup
tools/net-tools/tests/oobcl
tools/net-tools/tests/oobsv
tools/net-tools/tests/pipes
tools/net-tools/tests/protolookup
tools/net-tools/tests/server
tools/net-tools/tests/servlookup
tools/net-tools/tests/sockname
tools/net-tools/tests/sockpair
tools/net-tools/tests/speed
tools/net-tools/tests/speed2
tools/net-tools/tests/speedd
tools/net-tools/tests/tcpcl
tools/net-tools/tests/tcpsv
tools/net-tools/tests/udpclnt
tools/net-tools/tests/udpserv
tools/nfs/mount_nfs
tools/sysctl/sysctl
xaaes/src.km/xversion.h
*.o
*.a
xaaes*.km
usb*.km
*.xif
*.xdd
*.xfs
*.acc
*.app
*.prg
*.gtp
*.tos
*.ttp
*.exe
*.ucd
*.udd
*.grd
*.gmo
*~
sys/usb/src.km/tos-common/stripex
doc/freemint.hyp
doc/freemint.ref
