.deps
.compile_*
shared/libsyscall/pars.c
shared/libsyscall/pars.h
shared/libsyscall/scan.c
sys/arch/magic/genmagic
sys/arch/magic/magic.i
sys/buildinfo/build.h
sys/buildinfo/buildserial
sys/buildinfo/cdef.h
sys/buildinfo/mkbuild
sys/gen-syscall/gen-syscall
sys/sockets/xif/main_020.c
sys/sockets/xif/rieblmst.c
sys/sockets/xif/rieblmst_fast.c
sys/sockets/xif/rieblspc.c
sys/sockets/xif/rieblspc_fast.c
sys/sockets/xif/rieblste.c
sys/sockets/xif/riebltt.c
sys/sockets/xif/rtl8012st.c
sys/sockets/xif/rtl8012ct60.c
sys/usb/src.km/crtinit.c
sys/usb/src.km/delayasm.S
sys/usb/src.km/entry.S
sys/usb/src.km/setstack.S
sys/usb/src.km/tosdelay.c
sys/usb/src.km/loader/crtinit.c
sys/usb/src.km/loader/entry.S
sys/usb/src.km/loader/setstack.S
sys/usb/src.km/ucd/aranym/crtinit.c
sys/usb/src.km/ucd/aranym/entry.S
sys/usb/src.km/ucd/aranym/natfeat.c
sys/usb/src.km/ucd/aranym/natfeat_asm.S
sys/usb/src.km/ucd/aranym/setstack.S
sys/usb/src.km/ucd/unicorn/crtinit.c
sys/usb/src.km/ucd/unicorn/delayasm.S
sys/usb/src.km/ucd/unicorn/entry.S
sys/usb/src.km/ucd/unicorn/setstack.S
sys/usb/src.km/ucd/unicorn/tosdelay.c
sys/usb/src.km/ucd/netusbee/crtinit.c
sys/usb/src.km/ucd/netusbee/delayasm.S
sys/usb/src.km/ucd/netusbee/entry.S
sys/usb/src.km/ucd/netusbee/setstack.S
sys/usb/src.km/ucd/netusbee/tosdelay.c
sys/usb/src.km/ucd/ethernat/crtinit.c
sys/usb/src.km/ucd/ethernat/delayasm.S
sys/usb/src.km/ucd/ethernat/entry.S
sys/usb/src.km/ucd/ethernat/setstack.S
sys/usb/src.km/ucd/ethernat/tosdelay.c
sys/usb/src.km/ucd/ehci/cache.S
sys/usb/src.km/ucd/ehci/crtinit.c
sys/usb/src.km/ucd/ehci/delayasm.S
sys/usb/src.km/ucd/ehci/entry.S
sys/usb/src.km/ucd/ehci/pci_bios.c
sys/usb/src.km/ucd/ehci/pci_xbios.S
sys/usb/src.km/ucd/ehci/setstack.S
sys/usb/src.km/ucd/ehci/tosdelay.c
sys/usb/src.km/ucd/vttusb/crtinit.c
sys/usb/src.km/ucd/vttusb/delayasm.S
sys/usb/src.km/ucd/vttusb/entry.S
sys/usb/src.km/ucd/vttusb/setstack.S
sys/usb/src.km/udd/eth/crtinit.c
sys/usb/src.km/udd/eth/entry.S
sys/usb/src.km/udd/eth/setstack.S
sys/usb/src.km/udd/hid/mouse/hid.c
sys/usb/src.km/udd/hid/mouse/hid.h
sys/usb/src.km/udd/hid/mouse/hidparse.c
sys/usb/src.km/udd/hid/mouse/hidparse.h
sys/usb/src.km/udd/hid/mouse/crtinit.c
sys/usb/src.km/udd/hid/mouse/entry.S
sys/usb/src.km/udd/hid/mouse/setstack.S
sys/usb/src.km/udd/hid/mouse-boot/crtinit.c
sys/usb/src.km/udd/hid/mouse-boot/entry.S
sys/usb/src.km/udd/hid/mouse-boot/setstack.S
sys/usb/src.km/udd/hid/keyboard/crtinit.c
sys/usb/src.km/udd/hid/keyboard/entry.S
sys/usb/src.km/udd/hid/keyboard/setstack.S
sys/usb/src.km/udd/hid/tablet/hid.c
sys/usb/src.km/udd/hid/tablet/hid.h
sys/usb/src.km/udd/hid/tablet/hidparse.c
sys/usb/src.km/udd/hid/tablet/hidparse.h
sys/usb/src.km/udd/hid/tablet/crtinit.c
sys/usb/src.km/udd/hid/tablet/entry.S
sys/usb/src.km/udd/hid/tablet/setstack.S
sys/usb/src.km/udd/printer/crtinit.c
sys/usb/src.km/udd/printer/entry.S
sys/usb/src.km/udd/printer/setstack.S
sys/usb/src.km/udd/storage/crtinit.c
sys/usb/src.km/udd/storage/delayasm.S
sys/usb/src.km/udd/storage/entry.S
sys/usb/src.km/udd/storage/magic.c
sys/usb/src.km/udd/storage/setstack.S
sys/usb/src.km/udd/storage/tosdelay.c
sys/xdd/audio/actrl
sys/xdd/mfp/mfp_mil.c
tools/crypto/crypto
tools/fdisk/fdisk
tools/fdisk/sfdisk
tools/lpflush/lpflush
tools/minix/fsck/fsck.minix
tools/minix/minit/minit
tools/minix/tools/flist
tools/minix/tools/mfsconf
tools/mkfatfs/mkfatfs
tools/mktbl/mktbl
tools/net-tools/arp
tools/net-tools/diald
tools/net-tools/ifconfig
tools/net-tools/iflink
tools/net-tools/ifstats
tools/net-tools/masqconf
tools/net-tools/netstat
tools/net-tools/pppconf
tools/net-tools/route
tools/net-tools/slattach
tools/net-tools/slinkctl/slinkctl
tools/strace/genstamp
tools/strace/gentables
tools/strace/strace
tools/strace/sysenttab.c
tools/strace/sysenttab.h
tools/swkbdtbl/swkbdtbl
tools/net-tools/tests/client
tools/net-tools/tests/dgram
tools/net-tools/tests/dgramd
tools/net-tools/tests/hostlookup
tools/net-tools/tests/oobcl
tools/net-tools/tests/oobsv
tools/net-tools/tests/pipes
tools/net-tools/tests/protolookup
tools/net-tools/tests/server
tools/net-tools/tests/servlookup
tools/net-tools/tests/sockname
tools/net-tools/tests/sockpair
tools/net-tools/tests/speed
tools/net-tools/tests/speed2
tools/net-tools/tests/speedd
tools/net-tools/tests/tcpcl
tools/net-tools/tests/tcpsv
tools/net-tools/tests/udpclnt
tools/net-tools/tests/udpserv
tools/nfs/mount_nfs
tools/sysctl/sysctl
xaaes/src.km/adi/whlmoose/whlmoose_w.c
xaaes/src.km/xversion.h
*.o
*.a
xaaes*.km
usb*.km
*.xif
*.xdd
*.xfs
*.acc
*.app
*.prg
*.gtp
*.tos
*.ttp
*.exe
*.ucd
*.udd
*.grd
*.gmo
*~
