# TODO: put into helmut-enhancements, freemint-1_18, freemint-1_17, branch-1_16, branch-1_15

# if you want to debug the deploy process, change 'USER' to your github name,
# make a fork of freemint.github.io, travis-scripts and travis-pr projects and
# use your own private key for decrypting .travis/deploy-key.enc

language: c
os: linux
dist: trusty
sudo: required

compiler:
  - m68k-atari-mint-gcc

before_install:
  - export USER=$(echo "${TRAVIS_REPO_SLUG}" | cut -d '/' -f 1)
  - export BASE_RAW_URL="https://raw.githubusercontent.com/${USER}"

  - wget -O .travis/download_prerequisities.sh "${BASE_RAW_URL}/travis-scripts/master/download_prerequisities.sh"
  - sh ./.travis/download_prerequisities.sh
  - sh ./.travis/install-cross-mint.sh trusty cross-mint-essential cflib-m68k-atari-mint > /dev/null
  
before_script:
  - . ./.travis/setup_env.sh
  - export SHORT_ID=$(git log -n1 --format="%H" | cut -c 1-3)

script:
  - sh ./.travis/build.sh "${PWD}/.travis/tmp" "${PWD}/.travis/out"

after_success:
  - sh ./.travis/deploy.sh "${PWD}/.travis/out" $encrypted_ca43c43c6830_key $encrypted_ca43c43c6830_iv 
