# This file is included by mint.cnf. If you are updating to a new
# snapshot/release and want to keep your customisations, copy your old
# mint.cnf over to the new mint folder and keep the new boot.cnf.

# Ideally, one day we could use just $SYSDIR without this workaround
sln c:/mint/1-19-cur     u:/sysdir
