# ---------------- FreeMiNT configuration file ---------------------
#
# PLEASE SEE FREEMINT.HYP/SECTION "MINT.CNF" FOR DETAILED EXPLANATION
# OF THE POSSIBLE SETTINGS!
#
# The mint.cnf file is loaded, when the entire system is practically
# up, all device drivers and filesystem drivers have been loaded etc.
# If you want to control earlier settings, see mint.ini file.
#
# Edit this with a normal ASCII text editor. Lines starting with '#'
# are comments. Other lines are commands for MiNT to execute at boot
# up, or variables that control how MiNT behaves.

# NOTICE: Since FreeMiNT 1.16.0, the format of most keywords has
#         changed. Old keywords are still supported, however, you
#         cannot use this configuration file for older versions
#         of MiNT!

# The term `sysdir' we use here is short for `system directory' and
# means the directory, where you keep your mint.cnf file, your
# modules (XFS and XDD files) and other such system binaries. The
# sysdir value is usually u:/c/mint/1-19-cur.
#
# For clarity, it is assumed all over this example file, that your
# boot drive is C:, and, if you have installed SpareMiNT distribution,
# that your SpareMiNT drive is E:. Note, that if you have installed
# SpareMiNT, you can refer to your sysdir as u:/boot/mint/
#
# The '#' sign at the begin of the line means that a comment follows.
# The entire line after the '#' sign will be ignored by the parser.
#
# Some keywords allow more than one parameter, the entries can be
# separated with commas or semicolons, e.g.
# PATH=/bin,/sbin,/usr/bin or PATH=/bin;/sbin;/usr/bin
#
# ------------------ MINT.CNF ENVIRONMENT -------------------------
#
# When mint starts, it already sets some environment variables
# (ignoring the ones inherited from its parent)
#
# - PATH: will be set to $SYSDIR
# - SYSDIR: the system directory (see above)
# - MCHDIR: a model-specific version of $SYSDIR (eg. $SYSDIR/st)
# - MINT_VERSION: the kernel version string (eg. 1-19-cur)
# - BOOTDRIVE: the gemdos drive we booted from
#   (just the character, without colon)
# - TERM: set to st52
# - SLBPATH: set to $SYSDIR
# - UNIXMODE: set to "/brUs" (mintlib specific)
# - PCONVERT: set to "PATH,HOME,SHELL" (mintlib specific)
#
# Those variables (and any other that are set using the setenv command)
# can be referred to as e.g. $SYSDIR or ${SYSDIR}
#
# ------------------ MINT.CNF PARSER COMMANDS ---------------------
#
# The "set" directive controls the behaviour of the mint.cnf parser.
# It accepts one of three parameters:
#
#set -q - silent output (+q for verbose output)
#set -v - print command lines (+v don't)
#set -c - control interpretation of escape sequences
#set -u - report unset environment variables

#set -q

# -----
# The include command allows you to include other files while the
# mint.cnf file is being interpreted. The included file will be
# interpreted as a part of the mint.cnf file.

#include u:/c/mint/vars.cnf

# For more commands see below.

# ---------------------- KERNEL SETTINGS --------------------------
#
# Here are things you can change if you want to. There are reasonable
# defaults for all of these.
#
# KERN_SLICES controls how long a process may run before being
# interrupted. The number means an amount of 20 ms time intervals.
#
# The default value (2) is usually best, but if you tend to run
# very processor intensive applications in the foreground, you might
# want to put KERN_SLICES=3 (this makes CPU hogs get more time than
# they otherwise would).
#
# The smaller the KERN_SLICES value, your processes have faster
# response time but the general performance is worse. Very fast
# machines however, may benefit from setting 1 here.

#KERN_SLICES=2

# KERN_DEBUG_LEVEL controls output of global debugging information.
# The higher the level, the more stuff MiNT will spew about about
# what it's doing.
#
# The average user doesn't want to hear about this stuff, so the
# default is 1, i.e. display ALERT messages only. Note that you need
# a debug kernel to get more: normal kernels do not contain so much
# debug information.
#
# KERN_DEBUG_DEVNO is the BIOS device number to which the info
# should be sent.
#
# Devno can be: 0=printer, 1=aux/modem, 2=screen (console), 3=midi,
# 4=keybrd, 5=raw.
#
# The default is the console.

#KERN_DEBUG_LEVEL=1
#KERN_DEBUG_DEVNO=2

# KERN_BIOSBUF controls how BIOS I/O is performed. Normally, MiNT
# tries to buffer this to provide a (considerable) improvement in
# speed. However, some applications may get upset by this.
#
# KERN_BIOSBUF=NO turns off all buffering for maximum compatibility.
# The default is YES.

#KERN_BIOSBUF=YES

# KERN_SECURITY_LEVEL= enables the appropriate security level:
#
# 0 - recommended for single user setups, like MultiTOS (default).
# 1 - recommended for multiuser setups, like KGMD.
# 2 - full protection, unsupported by software, thus discouraged.

#KERN_SECURITY_LEVEL=1

# KERN_MPFLAGS controls the memory protection behaviour. Its argument
# is a bitfield. Only the bit 0 is defined: 1 means, that more strict
# model of the protection should be enabled. Some programs may
# refuse to run, so the default is 0.

#KERN_MPFLAGS=1

# TPA_FASTLOAD=YES forces fast loading (without zeroing all the
# memory) for all programs. This defines a default state, that can be
# modified later via appropriate kernel calls (use MiNT Setter
# utility to toggle it later when neessary, without reboots).
#
# TPA_FASTLOAD=NO (default) means that the information from the
# program header will be used to decide (this is like TOS does).

#TPA_FASTLOAD=YES

# Set maximum additional TPA size for new processes
# (in kilobytes). The default is 1024. Better keep it low (1024 is
# what we call low) if your machine has 4 MB RAM or less.

#TPA_INITIALMEM=4096

# PROC_MAXMEM= gives the maximum amount of memory that any process
# may use (in kilobytes). The default is to make this unlimited, but
# if you have a lot of memory and/or programs that grab more memory
# than they should, try setting this.
#
# E.g. to limit processes to 4096K of memory, remove the '#' at the
# beginning of the next line.
#
# WARNING: the process will not be allowed to allocate memory beyond
# the limit, and it won't "see" more memory as available from the
# system.
# Please understand that programs like "free" (or any other that
# interrogates the system how much memory is available) is a process
# as well, thus it will undergo this limit too!
#
# Decent shells (desktops) allow you to limit the maximum amount of
# memory independently for each program.

#PROC_MAXMEM=4096

# Three commands, that define output files for RS-232, console and
# printer devices. The argument for each one must be a pathname.
#
# For best results, the convention u:/drive/pathname should be used
# for all specified pathnames from now on.

#GEMDOS_AUX=u:/c/mint/aux.out
#GEMDOS_CON=u:/c/mint/con.out
#GEMDOS_PRN=u:/c/mint/prn.out

#
# -------------------- FILESYSTEM SETTINGS ------------------------
#
# FS_VFAT= enables VFAT extension for selected drives.
# The VFAT extension is disabled by default.
#
# If you use both TOS and MiNT, better don't enable VFAT extension
# on your boot drive.

#FS_VFAT=D,E,F,G

# FS_VFAT_LCASE=YES tells the kernel to return lowercase filenames
# from VFAT directory searches. The default is NO.

#FS_VFAT_LCASE=YES

# FS_WB_ENABLE= enables write back cache for selected drives. The
# write back cache is disabled by default. Also, it does not have
# any effect for TOSFS drives.

#FS_WB_ENABLE=C,D,E,F

# FS_CACHE_SIZE= specifies the size of disk cache in kilobytes for the
# internal caching module. Default is 128.

#FS_CACHE_SIZE=4096

# FS_CACHE_PERCENTAGE specifies the size of the disk cache (in
# percents) to be filled with linear reads. The default is 5.

#FS_CACHE_PERCENTAGE=10

# FS_UPDATE= set update time for system update daemon in seconds
# default is 5, it isn't recommended to use a value less than 4.

#FS_UPDATE=10

# Software write protection on filesystem level.

#FS_WRITE_PROTECT=R,S

# FDC_HIDE_B= tells the MiNT to remove floppy drive B: from the
# system.
# It is useful on single floppy systems to get rid of "Insert
# disk B: into drive A:" messages from the AES. Default is NO.

#FDC_HIDE_B=YES

#
# -------------------------- COMMANDS ------------------------------
#
# More commands that you can give to MiNT:
#
# alias <drive> <path>    -- make a fake "drive" that actually points
#                            to the given path
# cd <path>               -- changes MiNT's default directory
# echo <message>          -- print something on the screen
# exec <program> <args>   -- runs a program; you must give the complete
#                            path and file extensions (e.g. c:/bin/echo.prg)
# include <file>          -- include another portion of the MINT.CNF file.
# sln <path> <link>       -- make a symbolic link named "link" pointing to
#                            "path". "link" must be on drive U: for this
#                            to work
# ren <oldname> <newname> -- rename a file
# setenv <name> <value>   -- set up environment
#
# Notice you have to adjust commands below for your filesystem
# structure.
#
# -----
#
# You could use "alias" to provide a quick way of getting at
# nested directories, e.g. if you do
#
# alias r: u:/c/some/long/path
#
# then clicking on drive r: puts you into the folder c:/some/long/path
#
# -----
#
# The "sln" command may be used to create "links" on drive U:. If
# u:/foo is a link to c:/bar, then u:/foo/foo.txt is another way
# of saying c:/bar/foo.txt. Judicious use of links can make
# re-arranging hard disks and directories painless (if you always
# use the names on drive u:, it doesn't matter where you put
# the actual directories).

# Setting up the root filesystem:
# This is only an example and is not essentially needed to run FreeMinT!
# If you want to use a UNIX environment (with a linux ext2 filesystem,
# like EasyMinT does), you have to set these symbolic links correctly.

# WARNING: Directories listed in the left column must really exist!
#          You have to adjust the commands below for your filesystem
#          structure.

sln ${SYSDIR}sys-root/bin      u:/bin
#sln ${SYSDIR}sys-root/boot     u:/boot
sln ${SYSDIR}sys-root/etc      u:/etc
#sln ${SYSDIR}sys-root/home     u:/home
#sln ${SYSDIR}sys-root/lib      u:/lib
#sln ${SYSDIR}sys-root/mnt      u:/mnt
sln ${SYSDIR}sys-root/opt      u:/opt
sln ${SYSDIR}sys-root/root     u:/root
#sln ${SYSDIR}sys-root/sbin     u:/sbin
#sln ${SYSDIR}sys-root/share    u:/share
sln ${SYSDIR}sys-root/tmp      u:/tmp
#sln ${SYSDIR}sys-root/usr      u:/usr
sln ${SYSDIR}sys-root/var      u:/var


# Some people want also to do this:
#
#sln u:/pipe/pty.A u:/dev/pty.A
#sln u:/pipe/pty.B u:/dev/pty.B
#sln u:/pipe/pty.C u:/dev/pty.C
#sln u:/pipe/pty.D u:/dev/pty.D
#sln u:/pipe/pty.E u:/dev/pty.E
#sln u:/pipe/pty.F u:/dev/pty.F
#sln u:/pipe/pty.G u:/dev/pty.G
#sln u:/pipe/pty.H u:/dev/pty.H
#sln u:/pipe/pty.I u:/dev/pty.I
#sln u:/pipe/pty.J u:/dev/pty.J
#sln u:/pipe/pty.K u:/dev/pty.K

#
# --------------------- ENVIRONMENT VARIABLES ----------------------
#
# These "basic" environment variables should be set in mint.cnf.
# Application-related variables are set in file xaaes.cnf.
#
# PCONVERT and UNIXMODE variables control some internals of
# MiNT Library. FreeMiNT sets these two automatically.

#setenv PCONVERT PATH,HOME,SHELL
#setenv UNIXMODE /brUs

# Default path(s) to search for MinT executables.

setenv PATH /sbin;/bin;/usr/sbin;/usr/bin

# Default path(s) to search the SLBs (MagiC style 'shared libraries,
# default is the system directory.
# Note, that FreeMiNT 1.16.0 and up will search SLBs in the sysdir
# automatically, if found nowhere else, so it is useless to
# explicitly add this here.

setenv SLBPATH /c/mint/slb;/c/gemsys/

# It is advisable to set this here to a preferred name of your
# computer:

setenv HOSTNAME atari

# Set a path for temporary files also can be useful:

setenv TMPDIR u:/tmp

# Default login variables. Leave them commented out, if you use
# UNIX style login. If you're using plain MultiTOS and want to
# run UNIX shells under TOSWIN, please uncomment it.

#setenv LOGNAME root
#setenv USER    root
#setenv HOME    /root
#setenv SHELL   /bin/bash

# These lines (with proper pathnames) are obligatory, if you're
# going to use N.AES and Thing Desktop, respectively.
#
# Note that of you don't set the THINGDIR, the Thing desktop
# will store all its files in your $HOME.

#setenv AESDIR   u:/c/mint/n_aes/
#setenv THINGDIR u:/c/mint/thing/

#
# ---------------------- EXECUTE PROGRAMS -------------------------
#
# The "exec" command is used to launch programs. Note that programs
# so launched are started before GEM is, so they must be TOS/TTP
# programs or MinT executables.
#
# Checking filesystems if necessary
# Note: you need a correct /etc/fstab

#exec u:/bin/bash u:/bin/fscheck.sh
#echo

# Alternative method, if you have e2fsck.ttp in /c/mint,
# and e: is your ext2fs drive.

#exec u:/c/mint/e2fsck.ttp -p e:

# Set up time stuff. Note that you need MiNT Lib timezone package
# (installed along with the library) for this below to work.
#
# The first setting is valid if your clock ticks in UTC. For local
# time you have to add -l to the tzinit command.

#exec u:/sbin/tzinit
#exec u:/sbin/tzinit -l

# Start network
#
# Replace XXX with your used interface name, e.g. "en0" or "rtk0".
# Replace AAA.AAA.AAA.AAA with the IP address of your Atari.
# Replace BBB.BBB.BBB.BBB with the IP address of your router.
# Remove the "#" at the beginning of the two lines.

#exec u:/bin/ifconfig XXX addr AAA.AAA.AAA.AAA netmask 255.255.255.0 up
#exec u:/bin/route add default XXX gw BBB.BBB.BBB.BBB

# ARAnyM uses its own script

#exec u:/bin/bash u:/bin/eth0-config.sh
#echo

# Start Draconis to MiNT-Net gateway

#exec u:/opt/GEM/mgw/mgw.prg
#echo

# Start Gluestik

#exec u:/opt/GEM/gluestik/gluestik.prg
#echo

# Load USB kernel module
#
#exec ${SYSDIR}usb/loader.prg
#echo
#
# ------------------------- START SYSTEM --------------------------
#
# The best option is to have INIT= command here, after all pathnames
# are already set up by commands above.

# If MiNT is supposed to execute a GEM, you should specify the full
# path and filename like that:

GEM=${SYSDIR}xaaes/xaloader.prg

# You can also request MiNT to execute the TOS AES residing in ROM.
# WARNING: this is not recommended, you should use a GEM version
# instead, that is multitasking friendly.

#GEM=ROM

# Otherwise, if your init program is not a GEM, you should use INIT= as
# follows:

#INIT=u:/c/mint/init.prg

# If you leave both commands above commented out, MiNT will
# attempt to execute a file called `sh.tos' found in the system
# directory (the same where the mint.cnf resides), and if this
# fails, the internal minimum shell will be executed.

# Before the MiNT executes the rest of the operating system, it is
# usually the best to change the current directory to the top
# directory of all filesystems. FreeMiNT does this automatically.

#cd u:/

#
# The "echo" command is really straightforward.
#
echo Setup complete, now booting the system...
echo
