#
# global definitions
#
include $(top_srcdir)/../RULES

#
# private definitions
#

#
# global CFLAGS
#
INCLUDES = -I$(top_srcdir)
CFLAGS = $(INCLUDES) $(DEFINITIONS) $(MODEL) $(GENERAL) $(OPTS) $(WARN)

#
# libIO target
#
LIBIOTARGET = libIO$(CPU).a
LIBIOSTMP = $(top_srcdir)/IO/libIO$(CPU).a
LIBIO = -L$(top_srcdir)/IO -lIO$(CPU)
