#
# global definitions
#
include $(top_srcdir)/../RULES

#
# private definitions
#

#
# global definitions
#
INCLUDES = -I$(top_srcdir)
LD = $(CC) $(LINKSTRIP) $(LDEXTRA)

#
# libIO target
#
define LIBIO_TEMPLATE
$(top_srcdir)/IO/libIO$(1).a:
	$(MAKE) -C $(top_srcdir)/IO libIO$(1).a
endef

$(foreach TARGET,$(cputargets),$(eval $(call LIBIO_TEMPLATE,$(TARGET))))
